@media screen and (max-width: 768px) {
    .modal-container {
        width: 100%;
        height: 100%;
        display: grid;
        gap: 30px;
        background: #c1c7d5;
    }
    .card {
        width: 100%;
        height: 100%;
        background: #f7f7f9;
    }

    .close {
        color: #ccc;
        float: right;
        font-size: 30px;
    }

    .close:focus,
    .close:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .header {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .links {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 236px;
        height: 32px;
        padding: 0;
        gap: 30px;
        flex: 0 0 auto;
        order: 1;
        flex-grow: 0;
        margin-top: 1px;
    }

    .links .canon {
        list-style-type: none;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        color: #344563;

    }

    .links .role {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        font-size: 13px;
        color: #344563;
        flex: 0 0 auto;
    }

    .modal-buttons {
        display: flex;
        list-style-type: none;
        padding: 0;
        gap: 8px;
        width: 203px;
        height: 24px;
    }

    .button1 {
        display: flex;
        font-style: normal;
        width: 53px;
        height: 24px;
        background: #ebebff;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.03em;
        flex-direction: row;
        align-items: center;
        padding: 4px 12px;
        border-radius: 8px;
        flex: 0 0 auto;
        color: #fff;
        border: 0.5px solid #e8e8e8;
        background-color: #0b39ad;
      }
      
      .button2 {
        display: flex;
        font-weight: 500;
        font-size: 12px;
        width: 45px;
        height: 24px;
        font-family: 'Poppins', sans-serif;
        padding: 4px 12px;
        border-radius: 8px;
        flex-direction: row;
        align-items: center;
        color: #fff;
        flex: 0 0 auto;
        border: #e8e8e8;
        background-color: #0b39ad;
      }
      
      .button3 {
        font-weight: 500;
        font-size: 12px;
        border: #e8e8e8;
        display: flex;
        width: 89px;
        height: 24px;
        font-family: 'Poppins', sans-serif;
        background: #ebebff;
        padding: 4px 12px;
        border-radius: 8px;
        flex-direction: row;
        align-items: center;
        color: #fff;
        flex: 0 0 auto;
        background-color: #0b39ad;
      }

      .see-project {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 17px;
        line-height: 24px;
        box-sizing: border-box;
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        align-items: center;
        text-align: center;
        color: #396df2;
        gap: 10px;
        padding: 12px;
        width: 124px;
        height: 48px;
        left: 0;
        border: 1px solid #6070ff;
        border-radius: 8px;
        background-color: #fff;
      }

      .see-project {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 17px;
        line-height: 24px;
        box-sizing: border-box;
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        align-items: center;
        text-align: center;
        color: #396df2;
        gap: 10px;
        padding: 12px;
        width: 144px;
        height: 48px;
        left: 0;
        border: 1px solid #6070ff;
        border-radius: 8px;
        background-color: #fff;
      }
      
      
      

    .link-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        justify-content: space-evenly;
        margin-left: -65px;
    }

    .card img {
        margin-left: 15px;
    }

    .content {
        margin-left: 15px;
    }

    .anchor {
        text-decoration: none;
    }
}