.header-container {
  background-image: url(../image/header-image.jpg);
  flex-wrap: wrap;
  align-items: center;
  max-width: 340px;
  height: 620px;
  margin: 0 auto 10vh auto;
}

section p {
  margin-top: 0;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  width: 327px;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}

.navigation-bar {
  padding: 10px 17px 0 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link-image {
  display: flex;
  justify-content: space-between;
}

.developer-name {
  width: 280px;
  margin-top: 60px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.connect-link {
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  order: 0;
  flex: 0 0 auto;
}

.connect-icon {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: 170px;
  margin-top: auto;
  padding: 0.2px;
}
#image1 {
  justify-content: flex-start;
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: rgb(90, 35, 241);
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}

.nav-link {
  padding: 10px 17px 0 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.snapshoot-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
  background: #ffffff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.snapshoot-image {
  background: url("../image/snapshoot-portfolio.png"), no-repeat;
  background-position: center;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 295px;
  height:220px;
}
.project-title {
  display: flex;
  
}
project-title h1 {
  justify-content: flex-start;
  font-family: 'Poppins';
  font-weight: 700;
  width: 295px;
  height: 36px; 
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-2 {
  display: flex;
  justify-content: initial;
  padding-left: 0;
  gap: 10%;
}
.frame-2 #canopy-text {
  list-style-type: none;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: 0 0 auto;
  order: 0;
  flex-grow: 0;
}

.frame-2 #backend-text {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: 0 0 auto;
}

.frame-2 #year-text {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: 0 0 auto;
}

.primary-text #primary-paragraph {
  width: 295px;
  height: 76px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: 0 0 auto;
  flex-grow: 0;
  word-spacing: 0;
}

.primary-buttons {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  gap: 10%;
}

.button1 {
  display: flex;
  font-style: normal;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  border-radius: 8px;
  flex: 0 0 auto;
  color: #6070ff;
  background: #ebebff;
}

.button2 {
  display: flex;
  font-family: 'Poppins';
  background: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
  flex-direction: row;
  align-items: center;
  color: #6070ff;
  flex: 0 0 auto;
}



