@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.root-container {
  display: grid;
  position: absolute;
  height: 5410px;
  width: 375px;
  gap: 500px;
  left: 400px;
  right: 300px;
  background: #f7f7f9;
}

.header-section {
  background-image: url("../image/header-image.jpg");
  flex-wrap: wrap;
  align-items: center;
  width: 375px;
  height: 718px;
  left: 0;
  top: 0;
  margin: 0 auto 0 auto;
}

section p {
  margin-top: 0;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  width: 327px;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  color: #344563;
}

.navigation-bar {
  padding: 10px 17px 0 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link-image {
  display: flex;
  justify-content: space-between;
}

.developer-name {
  width: 280px;
  margin-top: 60px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.connect-link {
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  order: 0;
  flex: 0 0 auto;
}

.connect-icon {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 170px;
  margin-top: auto;
  padding: 16px;
}

#image1 {
  justify-content: flex-start;
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: rgb(90, 35, 241);
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}

.nav-link {
  padding: 10px 17px 0 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tonic-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  margin-top: -405px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  gap: 0;
  background: #fff;
  width: 327px;
  height: 652px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: 0 0 auto;
  order: 0;
  flex-grow: 0;
}

.tonic-card-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  margin-top: -405px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  gap: 0;
  background: #fff;
  width: 327px;
  height: 652px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: 0 0 auto;
  order: 0;
  flex-grow: 0;
}

.tonic-card-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  margin-top: -405px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  gap: 0;
  background: #fff;
  width: 327px;
  height: 652px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: 0 0 auto;
  order: 0;
  flex-grow: 0;
}

.container-image-1 {
  background-image: url("../image/snapshoot-portfolio1.png");
  width: 295px;
  height: 220px;
  border-radius: 8px;
  flex: 0 0 auto;
  order: 0;
  flex-grow: 0;
}

.left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 295px;
  height: 288px;
  flex: 0 0 auto;
  order: 1;
  flex-grow: 0;
}

.tonic-title h2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 295px;
  height: 36px;
  flex: 0 0 auto;
  line-height: 44px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  order: 0;
  flex-grow: 0;
}

.frame-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 236px;
  height: 32px;
  padding: 0;
  gap: 30px;
  flex: 0 0 auto;
  order: 1;
  flex-grow: 0;
}

.frame-2 .canopy-text {
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: 0 0 auto;
  order: 0;
  flex-grow: 0;
}

.frame-2 .role-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  line-height: 16px;
  font-size: 13px;
  color: #424a57;
  flex: 0 0 auto;
}

.year-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  padding: 15px 0;
  font-size: 13px;
  color: #424a57;
  flex: 0 0 auto;
}

.text-paragraph p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 295px;
  height: 76px;
  line-height: 24px;
  color: #344563;
  padding: 0;
  gap: 12px;
  flex: 0 0 auto;
  order: 0;
  flex-grow: 0;
}

.primary-buttons {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;
}

.button1 {
  display: flex;
  font-style: normal;
  width: 53px;
  height: 24px;
  background: #ebebff;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  border-radius: 8px;
  flex: 0 0 auto;
  color: #fff;
  border: 0.5px solid #e8e8e8;
  background-color: #0b39ad;
}

.button2 {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  width: 45px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  /* background: #ebebff; */
  padding: 4px 12px;
  border-radius: 8px;
  flex-direction: row;
  align-items: center;
  color: #fff;
  flex: 0 0 auto;
  border: #e8e8e8;
  background-color: #0b39ad;
}

.button3 {
  font-weight: 500;
  font-size: 12px;
  border: #e8e8e8;
  display: flex;
  width: 89px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  background: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
  flex-direction: row;
  align-items: center;
  color: #fff;
  flex: 0 0 auto;
  background-color: #0b39ad;
}

.see-project {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  text-align: center;
  color: #396df2;
  gap: 10px;
  padding: 12px;
  width: 124px;
  height: 48px;
  left: 0;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
}

.snapshoot-container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background: #fff;
  width: 327px;
  height: 680px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: 0 0 auto;
  order: 1;
  flex-grow: 0;
}

.container-image-2 {
  background-image: url("../image/snapshoot-portfolio2.png");
  width: 295px;
  height: 220px;
  border-radius: 8px;
  flex: 0 0 auto;
  order: 0;
  flex-grow: 0;
}

.multi-post h2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 250px;
  height: 80px;
  flex: 0 0 auto;
  line-height: 44px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  order: 0;
  flex-grow: 0;
}

.left-block-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 295px;
  height: 332px;
  flex: 0 0 auto;
  order: 1;
  flex-grow: 0;
}

.snapshoot-container-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background: #fff;
  width: 327px;
  height: 652px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: 0 0 auto;
  order: 1;
  flex-grow: 0;
}

.container-image-3 {
  background-image: url("../image/snapshoot-portfolio3.png");
  width: 295px;
  height: 220px;
  border-radius: 8px;
  flex: 0 0 auto;
  order: 0;
  flex-grow: 0;
}

.snapshoot-container-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  background: #fff;
  width: 327px;
  height: 652px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: 0 0 auto;
  order: 1;
  flex-grow: 0;
}

.container-image-4 {
  background-image: url("../image/snapshoot-portfolio4.png");
  width: 295px;
  height: 220px;
  border-radius: 8px;
  flex: 0 0 auto;
  order: 0;
  flex-grow: 0;
}

.about-me-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  margin-top: -405px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 50px;
  gap: 0;
  width: 327px;
  height: 1285px;
  flex: 0 0 auto;
  order: 0;
  flex-grow: 0;
  background-color: #fff;
}

.about-myself h2 {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 50px;
  font-style: normal;
  line-height: 52px;
  width: 32px;
  height: 101px;
  align-items: center;
  color: #172b4d;
  padding: 16px;
}

.get-resume {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  margin: 15px;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #396df2;
  background-color: #fff;
}

.language {
  display: flex;
  flex-direction: row;
  width: 303px;
}

.language p {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.language a {
  display: flex;
  justify-content: space-around;
  width: 20px;
  height: 10px;
  margin-top: 1px;
  padding-top: 22px;
}

.language-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
  padding: 12px;
}

.get-resume:hover {
  background-color: #ebebff;
  color: #172b4d;
  transform: 0.8s;
}

.see-project:hover {
  background-color: #ebebff;
  color: #172b4d;
  transform: 0.8s;
}

.see-project:disabled {
  color: #333;
}

.see-project:enabled {
  color: #396df2;
}

.see-project:focus {
  background-color: #172b4d;
}

.button1:hover {
  background-color: #ff7235;
  color: #172b4d;
  transform: 0.8s;
}

.button1:disabled {
  color: #333;
}

.button1:focus {
  background-color: #172b4d;
}

.button2:hover {
  background-color: #ff7235;
  color: #172b4d;
  transform: 0.8s;
}

.button2:disabled {
  color: #333;
}

.button2:focus {
  background-color: #172b4d;
}

.button3:hover {
  background-color: #ff7235;
  color: #172b4d;
  transform: 0.8s;
}

.button3:disabled {
  color: #333;
}

.button3:focus {
  background-color: #172b4d;
}

.contact-me-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  margin-top: -405px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  gap: 0;
  width: 327px;
  height: 1485px;
  flex: 0 0 auto;
  order: 0;
  flex-grow: 0;
  background-color: #fff;
}

.contact-details {
  background:
    #6070ff url("../image/contact-form-shapes-mobile.svg")
    100% 32px no-repeat;
  width: 327px;
  display: flex;
  flex-direction: column;
  height: 779px;
  border-top-left-radius: 80px;
  padding-left: 40px;
  margin-top: -305px;
}

.contact-me {
  width: 327px;
  height: 56px;
  text-align: center;
  margin-top: 150px;
}

.input-field {
  width: 327px;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-left: -15px;
}

.name-input {
  width: 305px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  margin-bottom: 20px;
}

.email-input {
  width: 305px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  margin-bottom: 20px;
}

.textarea-input {
  width: 305px;
  height: 170px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  margin-bottom: 20px;
}

.input-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.03em;
  font-size: 17px;
  width: 140px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  background: #fff;
  color: #6070ff;
  padding: 12px 10px;
}

.contact-me h2 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 28px;
  color: #ebebff;
  font-style: normal;
  margin-top: -10px;
  margin-right: 24px;
}

.contact-details .paragraph {
  margin-top: -15px;
  color: #262626;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-style: normal;
  height: 102px;
  width: 305px;
  margin-left: -12px;
  background-color: #fff;
}

.home-button {
  width: 327px;
  height: 43px;
  text-align: center;
}

.home-button img {
  width: 134px;
  height: 5px;
  border-radius: 10px;
  margin-bottom: -15px;
  text-align: center;
  margin-right: 24px;
  background: #0d151e;
}

.input-button:disabled {
  color: #333;
}

.input-button:enabled {
  color: #396df2;
}

.input-button:focus {
  background-color: #172b4d;
}

.input-button:hover {
  background-color: #7f8cff;
  color: #172b4d;
  transform: 0.8s;
}

.nav-link .navigation-bar {
  display: none;
}

/** Desktop Media css styles **/
@media only screen and (min-width: 768px) {
  .root-container {
    display: grid;
    all: unset;
    width: 1440px;
    height: 5125px;
    background: #e5e5e5;
  }

  .header-section {
    background-image: url("../image/header-desktop-bg.svg");
    background-repeat: no-repeat;
    flex-wrap: wrap;
    align-items: center;
    border-bottom-left-radius: 120px;
    width: 1385px;
    height: 916px;
    left: 0;
    top: 0;
    margin: 0 auto 0 auto;
  }

  .developer-name {
    width: 380px;
    height: 122px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    display: flex;
    margin-left: 100px;
    margin-top: 150px;
    align-items: center;
    color: #172b4d;
  }

  .header-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    width: 920px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    color: #344563;
    margin-left: 98px;
  }

  .link-image {
    display: flex;
    justify-content: flex-start;
    margin-left: 98px;
  }

  .connect-link {
    width: 40%;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    color: #0016db;
    font-family: 'Poppins', sans-serif;
    order: 0;
    flex: 0 0 auto;
  }

  .connect-icon {
    list-style-type: none;
    display: flex;
    margin-left: 84px;
    justify-content: space-between;
    align-items: flex-start;
    width: 170px;
    height: 20px;
    margin-top: auto;
  }

  .nav-link {
    all: unset;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.2rem 1.85rem;
    list-style: none;
  }

  .nav-link .navigation-bar {
    all: unset;
    display: flex;
    gap: 0.2rem;
  }

  .navigation-bar a {
    color: #344563;
  }

  .nav-link img {
    display: none;
  }

  .nav-link .logo {
    font-size: 15px;
    transition-property: font-size;
    transition-duration: 2s;
    transition-delay: 0.2s;
  }

  .nav-link .logo:hover {
    font-size: 38px;
    color: #ff7235;
  }

  .tonic-card {
    justify-content: space-between;
    padding-left: 35px;
    display: flex;
    flex-direction: row;
    width: 1156px;
    height: 446px;
    background: #fff;
    border-radius: 24px;
    border: 1px solid #dfe1e6;
    margin: -100px 0 0 100px;
  }

  .tonic-card-2 {
    justify-content: space-between;
    padding-left: 35px;
    display: flex;
    flex-direction: row-reverse;
    width: 1156px;
    height: 446px;
    background: #fff;
    border-radius: 24px;
    border: 1px solid #dfe1e6;
    margin: 50px 0 0 100px;
  }

  .tonic-card-3 {
    justify-content: space-between;
    padding-left: 35px;
    display: flex;
    flex-direction: row;
    width: 1156px;
    height: 446px;
    background: #fff;
    border-radius: 24px;
    border: 1px solid #dfe1e6;
    margin: 50px 0 0 100px;
  }

  .tonic-card .left-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 295px;
    height: 332px;
    flex: 0 0 auto;
    order: 1;
    flex-grow: 0;
    margin-right: 295px;
    margin-top: -120px;
  }

  .tonic-card-2 .left-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 295px;
    height: 332px;
    flex: 0 0 auto;
    order: 1;
    flex-grow: 0;
    margin-left: -15px;
  }

  .tonic-card-3 .left-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 295px;
    height: 332px;
    flex: 0 0 auto;
    order: 1;
    flex-grow: 0;
    margin-right: 295px;
    margin-top: -120px;
  }

  .container-image-1 {
    background-image: url("../image/snapshoot-portfolio-desktop1.svg");
    background-repeat: no-repeat;
    width: 544px;
    height: 450px;
    margin: 0 0 0 -15px;
    border-radius: 8px;
    flex: 0 0 auto;
    order: 0;
    flex-grow: 0;
  }

  .container-image-2 {
    background-image: url("../image/snapshoot-portfolio-desktop2.svg");
    background-repeat: no-repeat;
    width: 544px;
    height: 450px;
    border-radius: 8px;
    flex: 0 0 auto;
    order: 0;
    flex-grow: 0;
  }

  .container-image-3 {
    background-image: url("../image/snapshoot-portfolio-desktop3.svg");
    background-repeat: no-repeat;
    width: 544px;
    height: 450px;
    border-radius: 8px;
    flex: 0 0 auto;
    order: 0;
    flex-grow: 0;
    margin-left: -20px;
  }

  .frame-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 236px;
    height: 32px;
    padding: 0;
    gap: 30px;
    flex: 0 0 auto;
    order: 1;
    flex-grow: 0;
    margin: 5px 0  0 26px;
  }

  .text-paragraph p {
    display: flex;
    margin: 10px 0 0 26px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    flex-direction: column;
    align-items: flex-start;
    width: 496px;
    height: 76px;
    color: #344563;
    padding: 0;
    gap: 12px;
    flex: 0 0 auto;
    order: 0;
    flex-grow: 0;
  }

  .primary-buttons {
    display: flex;
    margin-left: 26px;
    list-style-type: none;
    padding: 0;
    margin-top: 2px;
    gap: 8px;
    width: 203px;
    height: 24px;
  }

  .primary-buttons .button1 {
    background-color: #0b37a8;
    color: #fff;
  }

  .primary-buttons .button1:hover {
    background-color: #ff7235;
    color: #172b4d;
    transform: 0.8s;
  }

  .primary-buttons .button2 {
    background-color: #0b37a8;
    color: #fff;
  }

  .primary-buttons .button2:hover {
    background-color: #ff7235;
    color: #172b4d;
    transform: 0.8s;
  }

  .primary-buttons .button3 {
    background-color: #0b37a8;
    color: #fff;
  }

  .primary-buttons .button3:hover {
    background-color: #ff7235;
    color: #172b4d;
    transform: 0.8s;
  }

  .tonic-title h2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-left: 26px;
    gap: 12px;
    width: 295px;
    height: 36px;
    flex: 0 0 auto;
    line-height: 44px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #172b4d;
    order: 0;
    flex-grow: 0;
  }

  .see-project {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    line-height: 24px;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    text-align: center;
    color: #396df2;
    gap: 10px;
    padding: 12px;
    width: 124px;
    height: 48px;
    margin-left: 26px;
    left: 0;
    border: 1px solid #6070ff;
    border-radius: 8px;
    background-color: #fff;
  }

  .multi-post h2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 26px;
    margin-top: -12px;
    padding: 0;
    width: 250px;
    height: 80px;
    flex: 0 0 auto;
    line-height: 44px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #172b4d;
    order: 0;
    flex-grow: 0;
  }

  .about-me-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    gap: 0;
    width: 100%;
    flex: 0 0 auto;
    order: 0;
    flex-grow: 0;
    background-color: #fff;
    border-bottom-right-radius: 80px;
  }

  .about-myself h2 {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 50px;
    font-style: normal;
    line-height: 52px;
    width: 32px;
    height: 101px;
    align-items: flex-start;
    color: #172b4d;
    padding: 16px;
  }

  .text-paragraph section p {
    margin-top: 0;
    font-style: normal;
    font-size: 17px;
    line-height: 24px;
    width: 327px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    color: #344563;
  }

  .aboutme-container {
    display: flex;
    width: 100%;
  }

  .person-details {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin-left: 80px;
  }

  .language-section {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin-left: 100px;
  }

  .get-resume {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 168px;
    height: 62px;
    gap: 10px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #396df2;
    background-color: #fff;
  }

  .language a {
    display: flex;
    justify-content: space-around;
    width: 20px;
    height: 10px;
    padding-top: 10px;
  }

  .language {
    display: flex;
    flex-direction: row;
    width: 303px;
  }

  .language-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style-type: none;
    padding: 12px;
  }

  .language-list li .language-icon {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style-type: none;
    padding: 12px;
    width: 40%;
  }

  .contact-details {
    background:
      #6070ff url("../image/header-desktop-bg.svg")
      100% 32px no-repeat;
    width: 1440px;
    height: 896px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 80px;
    align-items: center;
  }

  .contact-me-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    gap: 0;
    width: 1444px;
    height: 846px;
    flex: 0 0 auto;
    order: 0;
    flex-grow: 0;
    background-color: #fff;
  }

  .home-button img {
    display: none;
  }

  .contact-head {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .contact-form {
    display: flex;
    align-items: center;
    margin-top: -40px;
    margin-left: 56px;
  }

  .input-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.03em;
    font-size: 17px;
    width: 140px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #cfd8dc;
    background: #fff;
    color: #6070ff;
    padding: 12px 10px;
    margin-left: 55px;
  }

  .contact-me h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 28px;
    color: #ebebff;
    font-style: normal;
    margin-top: 115px;
    margin-right: 24px;
  }

  .contact-details .paragraph {
    margin-top: 115px;
    color: #262626;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-style: normal;
    height: 102px;
    width: 425px;
    margin-left: 65px;
    background-color: #fff;
  }

  body::-webkit-scrollbar {
    display: none;
  }
}
